body,
html,
html,
html,
body {
    height: 100%;
    margin: 0;
    background: #f0f0f0;
    font-size: 16px;
}

#root {
    height: 100%;
}

header {
    padding: 1rem 2rem;
    border-bottom: 1px solid #e0e0e0;
}

.toolbar {
    padding: 1rem 2rem;
    border-bottom: 1px solid #e0e0e0;
}
